@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --standard-font: 'DM Sans', sans-serif;
    --background-color: #1F1F1F;
    --alternate-color-1: #292929;
    --alternate-color-2:  #c1ffb2;
    --text-color: #298013;
}

body {
    margin: 1em;
    background-color: var(--background-color);
    font-family: var(--standard-font);
}

.header-container {
    padding: 1rem;
    margin: 4em 0em 2em 0em;
    text-align: center;
}

.header-container > span {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    background-color: var(--alternate-color-1);
    border-radius: 2.5rem;
    padding: 2.5rem 4rem;
}

.header-item {
    background-color: var(--alternate-color-2);
    padding: 1.5em;
    border-radius: 1rem;
    color: var(--text-color);
    min-width: 5rem;
    text-align: center;
    transition: ease-in-out all 0.1s;
    font-weight: bold;
}

.header-item:not(:last-child) {
    margin-right: 1.5rem;
}

.header-item:hover {
    transform: translateY(-2px);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.header-item:active {
    background-color: #c1ffb2;
}

@media (max-width: 850px) {

    .header-container {
        margin-top: 1.5em;
    }

    .header-container > span {
        flex-direction: column;
        padding: 1.5em 0em 1.5em 0em;
        width: 100%;
    }

    .header-item {
        align-self: center;
        width: 85%;
        padding: 0.75em 0em 0.75em 0em;
        border-radius: 0.6em;
    }

    .header-item:hover {
        transform: scale(0.97);
    }

    .header-item:not(:last-child) {
        margin: 0rem 0rem 0.5rem 0rem;
    }
    
  }