@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --standard-font: 'Roboto Mono', monospace;
    --background-color: #404258;
    --alternate-color-1: #474E68;
    --alternate-color-2:  #50577A;
    --text-color: #6B728E;
}

body {
    margin: 1em;
    background-color: var(--background-color);
    font-family: var(--standard-font);
}

.header-container {
    padding: 1rem;
    margin: 4em 0em 2em 0em;
    text-align: center;
}

.header-container > span {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    background-color: var(--alternate-color-1);
    border-radius: 1rem;
    padding: 1.5rem 10rem 1.5rem 10rem;
}

.header-item {
    background-color: var(--alternate-color-2);
    padding: 1.5em;
    border-radius: 1rem;
    color: white;
    min-width: 5rem;
    text-align: center;
}

.header-item:not(:last-child) {
    margin-right: 1.5rem;
}

.header-item:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.header-item:active {
    background-color: #454b6a;
}

@media (max-width: 850px) {

    .header-container {
        margin-top: 1.5em;
    }

    .header-container > span {
        flex-direction: column;
        padding: 1.5em 0em 1.5em 0em;
        width: 100%;
    }

    .header-item {
        align-self: center;
        width: 85%;
        padding: 0.75em 0em 0.75em 0em;
        border-radius: 0.6em;
    }

    .header-item:hover {
        transform: scale(0.97);
    }

    .header-item:not(:last-child) {
        margin: 0rem 0rem 0.5rem 0rem;
    }
    
  }